@media screen and (min-width: 365px) {
    h1 {
        font-family: 'Amatic SC', cursive;
        font-size: 3em;
    }

    h2 {
        font-family: 'Amatic SC', cursive;
    }

    hr {
        color: black;
    }

    body {
        background-color: #0fb784;
    }

    img {
        width: 75px;
    }

    #coffees {
        width: 100%;
        margin: 0;
    }
    .coffee-div {
        margin: 1em;
        font-family: 'Amatic SC', cursive;
        font-weight: bold;
        font-size: 1.5em;

    }


.snakeGame{
    display: none;
}

}

@media screen and (min-width: 1200px) {
    body{
        background-color: peachpuff;
    }

}
